body {
    margin:0px;
  }
  .colour-block {
    background:#823A9C;
    width:60%;
    padding:7% 20% 10% 20%;
    color:#fff;
  }
  .white-block {
    background:#fff;
    width:60%;
    padding:7% 20% 10% 20%;
    color:#823A9C;
  }
  h1 {
    text-align:center;
    font-size:80px;
    font-family:'wire one', serif;
    font-weight:normal;
  }
  p {
    font-size:20px;
    font-family:'Raleway', serif;
  }
  
  
  /*------------------*/
  /*  SKEW CLOCKWISE  */
  /*------------------*/
  .skew-cc{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to right bottom, #823A9C 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
  }
  
  
  /*-------------------------*/
  /* SKEW COUNTER CLOCKWISE  */
  /*-------------------------*/
  .skew-c{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to left bottom, #fff 49%, #823A9C 50%);
  }